body {
    background-color: #F0F0F0;
}
hr {
    border-color: #F1D00A;
    border-width: 5px;
    width: 5%;
    border-style: dotted none none none;
}
h1 {
    color: #3E497A;
    font-family: Arial, sans-serif
}
h3 {
    color: #3E497A;
    font-family: Arial, sans-serif
}
h4 {
    color: #3E497A;
    font-family: Arial, sans-serif
}
p {
    color: #21325E;
    font-family: Arial, sans-serif
}
li {
    color: #21325E;
    font-family: Arial, sans-serif;
    padding: 5px
}
table {
    color: #21325E;
    font-family: Arial, sans-serif
}